<template>
    <div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <div class="control is-horizontal">
                        <div class="control is-grouped">
                            <p class="control is-expanded">
                                <input v-model="newpage.url" class="input" type="text" placeholder="url">
                            </p>
                            <p class="control is-expanded">
                                <input v-model="newpage.title" class="input" type="email" placeholder="title">
                            </p>
                            <p class="control is-expanded">
                                <input v-model="newpage.description" class="input" type="email" placeholder="description">
                            </p>
                            <p class="control is-expanded">
                                <input v-model="newpage.keywords" class="input" type="email" placeholder="keywords">
                            </p>
                            <a class="button is-success" @click="add" >Добавить</a>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="pointer" @click="sort('id')">id</th>
                            <th class="pointer" @click="sort('url')">url</th>
                            <th class="pointer" @click="sort('title')">title</th>
                            <th class="pointer" @click="sort('description')">description</th>
                            <th class="pointer" @click="sort('keywords')">keywords</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <row v-for="page in pages"
                             :page="page"
                             @reload="load"
                             @remove="remove"
                        ></row>
                        </tbody>
                    </table>
                </article>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import Row from './page_row.vue'

    import Notification from 'vue-bulma-notification'
    const NotificationComponent = Vue.extend(Notification);

    const openNotification = (propsData = {
        title: '',
        message: '',
        type: '',
        direction: '',
        duration: 4500,
        container: '.notifications'
    }) => {
        return new NotificationComponent({
            el: document.createElement('div'),
            propsData
        })
    };

    export default{
        data(){
            return{
                pages: {},
                sortType: 'asc',
                newpage: {
                    url: '',
                    title: '',
                    description:'',
                    keywords: ''
                }
            }
        },
        components:{
            Row
        },
        mounted(){
            this.load()
        },
        methods: {
            openNotificationWithType (type, data) {
                openNotification({
                    title: data.title,
                    message: data.message,
                    type: type
                })
            },
            load(){
                this.$http.get('/seo').then((response) => {
                    this.pages = response.body.data
                }, (response) => {
                    console.log(response)
                })
            },
            edit(id){

            },
            add(){
                this.$http.post('/seo', this.newpage).then((response) => {
                    if(response.body.success){
                        this.openNotificationWithType('success', {title: 'Добавлено'})
                        this.load()
                    }
                    else{
                        this.openNotificationWithType('danger', {title: 'Ошибка!', message: 'см консоль'})
                        console.log(response)
                    }
                }, (response) => {
                    console.log(response)
                })
            },
            remove(id){
                if(confirm('Удалить?')){
                    this.$http.delete('/seo/'+id).then((response) => {
                        if(response.body.success){
                            this.openNotificationWithType('success', {title: 'Страница удалена', message: ''});
                            this.load()
                        }
                        else{
                            this.openNotificationWithType('danger', {title: 'Ошибка!', message: 'см консоль'})
                        }
                    }, (response) => {
                        this.openNotificationWithType('danger', {title: 'Ошибка!', message: 'см консоль'});
                        console.log(response)
                    })
                }
            },
            sort(item){
                let self = this

                this.pages.sort(function(a,b){
                    if(self.sortType === 'asc')
                        return b[item] < a[item];
                    else
                        return b[item] > a[item];
                });

                this.sortType = (this.sortType === 'asc') ? 'desc' : 'asc'
            }
        }
    }
</script>