<template>
    <modal :visible="visible" @close="close">

                    <article class="box">
                        <h1 class="title">Страница</h1>
                        <div class="block">

                            <label class="label">URL</label>
                            <p class="control">
                                <input v-model="form.url" class="input" type="text" placeholder="url">
                            </p>

                            <label class="label">Title</label>
                            <p class="control">
                                <textarea v-model="form.title" class="textarea" placeholder="title"></textarea>
                            </p>

                            <label class="label">Description</label>
                            <p class="control">
                                <textarea v-model="form.description" class="textarea" placeholder="description"></textarea>
                            </p>

                            <label class="label">Keywords</label>
                            <p class="control">
                                <textarea v-model="form.keywords" class="textarea" placeholder="keywords"></textarea>
                            </p>

                            <p class="control">
                                <button class="button is-primary" @click="save">Submit</button>
                                <button class="button is-link" @click="close">Cancel</button>
                            </p>
                        </div>
                    </article>

    </modal>
</template>

<script>
    import {Modal} from 'vue-bulma-modal'

    export default {
        data () {
            return {
                form: {
                    url: '',
                    title: '',
                    description: '',
                    keywords: ''
                }
            }
        },
        components: {
            Modal
        },

        props: ['visible', 'page'],

        methods: {
            close () {
                this.$emit('close')
            },
            save(){
                this.$http.post('/seo/' + this.page.id, this.form).then((response) => {
                    if (response.body.success) {
                        this.$emit('reload')
                    }
                }, (response) => {
                    console.log(response)
                })
            },
        },
        mounted () {
            this.form.url = this.page.url
            this.form.title = this.page.title
            this.form.description = this.page.description
            this.form.keywords = this.page.keywords
        }
    }
</script>

