<template>
    <tr>
        <td style="width: 50px;"><b>{{page.id}}</b></td>
        <td><b>{{page.url}}</b></td>
        <td>{{page.title}}</td>
        <td>{{page.description}}</td>
        <td>{{page.keywords}}</td>
        <td class="is-icon">
            <span  class="success pointer" @click="showSettingsModal">
                <i class="fa fa-pencil"></i>
            </span>
            <span  class="is-danger pointer" @click="$emit('remove', page.id)">
                <i class="fa fa-trash-o"></i>
            </span>
        </td>
        <modal :visible="showModal" @close="closeSettingsModal" :page="page" @reload="reload"></modal>
    </tr>
</template>

<script>
    import Vue from 'vue'
    import Notification from 'vue-bulma-notification'
    import Modal from './Modal.vue'

    const NotificationComponent = Vue.extend(Notification)

    const openNotification = (propsData = {
        title: '',
        message: '',
        type: '',
        direction: '',
        duration: 4500,
        container: '.notifications'
    }) => {
        return new NotificationComponent({
            el: document.createElement('div'),
            propsData
        })
    }

    export default{
        props: ['page'],
        components: {
             Notification, Modal
        },
        data () {
            return {
                showModal: false
            }
        },
        mounted(){

        },
        methods: {
            openNotificationWithType (type, data) {
                openNotification({
                    title: data.title,
                    message: data.message,
                    type: type
                })
            },
            showSettingsModal () {
                this.showModal = true
            },
            closeSettingsModal () {
                this.showModal = false
            },
            reload(){
                this.closeSettingsModal()
                this.$emit('reload')
            }
        }
    }
</script>