
body,
html {
    width: 100%;
    height: 100%;
}
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp{padding:0;margin:0;border:0;outline:none;vertical-align:top;}
.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020;}
.fancybox-skin{position:relative;background:#f9f9f9;color:#444;text-shadow:none;}
.fancybox-opened{z-index:8030;}
.fancybox-opened .fancybox-skin{
    -webkit-box-shadow:0 1px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 1px 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 1px 10px rgba(0, 0, 0, 0.5);
}
.fancybox-outer, .fancybox-inner{position:relative;}
.fancybox-inner{overflow:hidden;}
.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch;}
.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap;}
.fancybox-image, .fancybox-iframe{display:block;width:100%;height:100%;}
.fancybox-image{max-width:100%;max-height:100%;}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span{background-image:url('fancybox_sprite.png');}
#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:0.8;cursor:pointer;z-index:8060;}
#fancybox-loading div{width:44px;height:44px;background:url('fancybox_loading.gif') center center no-repeat;}
.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040;visibility:hidden;}
.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:transparent url('blank.gif');-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040;}
.fancybox-prev{left:0;}
.fancybox-next{right:0;}
.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden;}
.fancybox-prev span{left:10px;background-position:0 -36px;}
.fancybox-next span{right:10px;background-position:0 -72px;}
.fancybox-nav:hover span{visibility:visible;}
.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible !important;}
.fancybox-lock{overflow:hidden !important;width:auto;}
.fancybox-lock body{overflow:hidden !important;}
.fancybox-lock-test{overflow-y:hidden !important;}
.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url('fancybox_overlay.png');}
.fancybox-overlay-fixed{position:fixed;bottom:0;right:0;opacity:0.5;background-color: #000;}
.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll;}
.fancybox-title{visibility:hidden;font:normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050;}
.fancybox-opened .fancybox-title{visibility:visible;}
.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center;}
.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:transparent;background:rgba(0, 0, 0, 0.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:bold;line-height:24px;white-space:nowrap;}
.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff;}
.fancybox-title-inside-wrap{padding-top:10px;}
.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0, 0, 0, .8);}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min--moz-device-pixel-ratio:1.5),
only screen and (min-device-pixel-ratio:1.5){#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span{background-image:url('fancybox_sprite@2x.png');background-size:44px 152px;}
    #fancybox-loading div{background-image:url('fancybox_loading@2x.gif');background-size:24px 24px;}
}

a, .text-red{
    color: #ef5350;
}

body,
h1,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    color: #777;
}

.lead {
    font-size: 18px;
    font-weight: 400;
    color: #777;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(/img/head-bg.jpg) no-repeat fixed center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
    font-size: 16px;
}

.intro-message > h1 {
    margin: 0 0 40px 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 4em;
    font-family: 'Julius Sans One', sans-serif;
    color: #333;
    font-weight: 200;
}

h2{
    font-family: 'Open Sans', sans-serif;
    color: #777;
    font-weight: 200;
    font-size: 2.5em;
}
.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 2.5em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width:100%;
    border-top: 2px solid #e53935;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background-size: cover;
}

.banner h2 {
    margin: 0 0 40px 0;
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        font-size: 2.5em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 20px 0;
    background-color: #212121;
}

p.copyright {
    margin: 15px 0 0;
}
.full-width{
    width:100%;
}
.closeModal{
    position: absolute;
    top: -3px;
    right: 15px;
    font-size: 35px;
    font-weight: 100;
    z-index: 9999;
    cursor: pointer;

}
#login input:first-child{
    margin-bottom: 10px;
}
#login{
    width: 400px;
}
#registration{
    width: 500px;
    margin-bottom: 0;
}
#login .btn, #registration .btn {
    margin-bottom: 10px;
}
#login .modal-footer{
    margin-bottom: 10px;
}
#registration input{
    margin-bottom: 10px;
}
.login {
    padding-top: 30px;
    margin-top: 20%;
}
.modal-body label{
    position: relative;
    left: 363px;
    top: -38px;
    display: none;
}

.forum-section{

}
.forum-section-name{
    padding: 0 30px;
}
.forum-header{
    line-height: 40px;
    border-bottom: 2px solid #03a9f4;
}
    .forum-header > div:first-child{
        padding-left: 32px;
    }
.forum{
    width: 100%;
    margin: 0 auto -1px auto;
    min-height: 80px;
    border: 1px solid #e7e7e7;
}
.row.forum:nth-child(even){
    background-color: #F8F8F8;
}
.forum-info{
    min-height: 100px;
    position: relative;
    border-right: 1px solid #e7e7e7;;
}
    .forum > div{
        padding: 0 0 0 15px;
        min-height: 80px;
    }
    .forum i{
        font-size: 30px;
    }
.forum-name{
    font-size: 16px;
}
.forum-name a{
    padding-left: 5px;
}
.forum-stats{
    margin-top: 15px;
}
    .forum-properties .forum-stats{
        position: absolute;
        bottom: 0;
    }
@media(max-width:400px) {
    .forum-properties .forum-stats{
        position: static;
    }
}
.forum-stats > div{
    display: inline-block;
    padding: 0 10px;
}
.no-margin{
    margin:0!important;
}
.no-padding{
    padding:0!important;
}
.last-topic-link{
    margin-left: 5px;
    vertical-align: top;
    line-height: 40px;
}
a:hover{
    color: rgb(173, 173, 173);
    text-decoration: none;
}
.topic-name{
    vertical-align: top;
    margin-top: 8px;
}
.topic, .post{
    border: 1px solid #e7e7e7;
    margin-bottom: 10px;
}
.topic-description{
    margin-bottom: 10px;
}
.topic > .author-info,
.post > .author-info {
    border-right: 1px solid #e7e7e7;
    margin: 10px 0;
}
.content{
    padding: 10px 0;
    min-height: 80px;
    position: relative;
}
.content i{
    font-size: 18px;
}
.content > .autor-info{
    font-style: italic;
    font-size: 12px;
    color: rgb(239, 83, 80);
}
.formpost > div{
    padding: 0;
}
legend{
    font-family: 'Open Sans', sans-serif;
    color: #777;
}
.form-group i{
    position: absolute;
    right: 20px;
    display: none;
}
.icon-done{
    color: green;
}
.icon-warning{
    color: red;
}
@media(max-width:767px) {
    #registration, #login{
        width: 100%;
    }
    legend{
        margin: 0;
    }
    .form-group{
        margin-top:0;
        padding-bottom: 0;
    }
    .well{
        margin-bottom: 0;
    }
}
form[name="forgot"]{
    margin-top: 25%;
}
form[name="forgot"] legend{
    color:#fff;
}
.illustration{
    height: 300px;
}
.pagination{
    margin: 0;
}
.pagination > li {
    display: inline-block;
    width: 24px;
    height: 39px;
    float: left;
    border-radius: 3px;
    margin: 0 2px;
    padding: 8px 0px 0px;
}
.pagination > li.page-end,
.pagination > li.page-start{
    width: auto;
}
.pagination > li > a{
    padding: 3px 7px;
    border-radius: 4px;
    border: none;
}
.pagination > li > a:hover{
    background-color:#c5cae9;
}
.pagination > .active > a{
    background-color: #7986cb;
}
.backlink{
    height: 40px;
}
.backlink > h3{
    float: left;
    display: inline-block;
    padding: 7px;
}
.backlink > i{
    line-height: 40px;
    font-size: 39px;
}
.container > header{
    margin-top: 40px;
}
.vcenter {
    display: inline-block;
    float: none;

    line-height: 1.5;
}
.avatar-wrapper{
    height: 90px;
    width: 90px;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px auto;
}
.avatar-wrapper-large{
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #A4A4A4;
}
.avatar-wrapper-large:hover{
    border: 1px solid #00695c;
}
.avatar-wrapper-large p{
    margin-top: 40%;
    text-align: center;
}
.avatar-wrapper-small{
    height:40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px 0;
}
.nav .avatar-wrapper-small{
    margin: 5px 0 0 0;
}
a > .avatar-wrapper-small{
    display: inline-block;
    float: right;
    margin: 4px;
}
.avatar{
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.author-info{
    padding: 10px;
}
#main{
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.4);
}
.userinfo{
    margin-top: 50px;
}
#main > .container{
    background-color: #f8f8f8;
}
.illustrate{
    margin: 0 auto;
}
.icelandic .illustrate{
    width: 300px;
    height: 200px;
    background: transparent url("/img/is.jpg") no-repeat scroll center/contain;
}
.icelandic p.lead,
.sweden p.lead,
.finnish p.lead,
.norwegian p.lead{
    padding: 10px;
    text-align: center;
    font-size: 16px;
}
.sweden .illustrate{
    width: 300px;
    height: 200px;
    background: transparent url("/img/sw.jpg") no-repeat scroll center/contain;
}
.finnish .illustrate{
    width: 300px;
    height: 200px;
    background: transparent url("/img/fin.jpg") no-repeat scroll center/contain;
}
.norwegian .illustrate{
    width: 300px;
    height: 200px;
    background: transparent url("/img/nor.jpg") no-repeat scroll center/contain;
}
.disabled .illustrate{
    filter: grayscale(100%);
}
.disabled .illustrate:hover{
    filter: grayscale(0);
    transition: filter 1s;
}
.translate-edit,
.forum-description-edit,
.forum-name-edit,
.forum-active-edit,
.thread-active-edit,
.save-translate{
    cursor:pointer; font-size: 24px;
}
.save-translate{
    color:#64dd17;

    padding-left: 10px;
}
.translate-edit:hover{
    color:#00bfa5;
}
.border-right{
    border-right:1px solid #f4f4f4;
}
.breadcrumb{
    background: none;
    padding: 10px 2px;;
    margin: 0;
}
.breadcrumbs{
    padding-left: 0;
}
a.data{
    display: inline;
    vertical-align: top;
    line-height: 38px;
}
.forum-properties{
    min-height: 40px;
}
body{
    background-color: #f5f5f5;
}
.card-header{
    min-height: 40px;
    font-size: 20px;
    line-height: 35px;
}
#langauges .card{
    min-height: 470px;
}
.card-footer{
    border-top: 1px solid #e7e7e7;
    padding: 0;
    min-height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.card-footer i{
    color:#fff;
    font-size: 44px;
}
.navbar{
    margin-bottom: 0;
}
.navbar-toggle{
    -webkit-transition: all .45s;
    -moz-transition: all .45s;
    transition: all .45s;
    float: left;
}
.navbar .navbar-toggle .icon-bar{
    border: 1px solid #CDCEC0;
}
.logo-wrapper{
    position: absolute;
    left: 20px;
    height: 50px;
    width: 40px;
    cursor: pointer;
}
.logo{
    height: 100%;
    width: auto;
    background: url(/img/dear-5-white.png) no-repeat scroll;
    background-size: contain;
}
@media(max-width:1199px) {
    .logo-wrapper{
        height: 50px;
    }
}
@media(max-width:767px) {
    .logo-wrapper{
        right: 20px;
        left:auto;
    }
}
.sidr{
    z-index: 0;
}
textarea{
    border-radius: 5px;
    border: 1px solid rgb(227, 227, 227);
    padding: 10px;
    width: 100%;
}
textarea:focus{
    border: 1px solid #009688;
}
.post-item{
    border-bottom: 2px solid rgb(0, 192, 239);
}
.post > header > h3 {
    padding-left: 15px;
}
.post .content{
    padding: 10px;
}
.post > footer {
    border-top: 2px solid rgb(0, 192, 239);
    background-color: #fff;
    padding: 15px;
}
.post-item > footer{
    background-color: #fff;
}
.comment{
    border-bottom: 1px solid #e7e7e7;
    padding: 10px;
}
.author-name{
    margin-left: 10px;
    line-height: 60px;
    font-weight: bold;
}
i.text-success,
i.text-danger{
    font-size: 24px;
}
#topic{
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.4);
}
.date{
    border-bottom: 1px solid #e7e7e7;
}
.forum-control{
    position: absolute;
    top:0;
    right: 0;
}
.pointer{
    cursor: pointer;
}
.ion-ios-close-empty:hover{
    color: #ef5350;
}