.is-title {
    text-transform: capitalize;
}

.icon .fa {
    font-size: 14px;
    line-height: inherit;
}

.container .vue-bulma-tabs .tab-content {
    margin: 10px 0;
}

.vue-bulma-tabs .tabs:not(:last-child) {
    margin-bottom: 0;
}

.variant{
    cursor: pointer;
    padding: 5px;
}
.variant.is-success{
    color: #23d160;
}
.success{
    color: #23d160;
}
.is-danger{
    color:#ff3860;
}
.danger{
    color:#ff3860;
    border-bottom: 1px solid #ff3860;
}
.warning{
    color:#ffdd57;
    border-bottom: 1px solid #ffdd57;
}
.info{
    color:#3273dc;
    border-bottom: 1px solid #3273dc;
}

.vue-bulma-tabs .tab-content{
    margin:0!important;
}

.extra {
    border-radius: 3px;
    background-color: #ff3860;
    color: #fff;
}

.file-cta {
    background-color: whitesmoke;
    color: #4a4a4a;
}
.file-cta, .file-name {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
    border-color: #dbdbdb;
    border-radius: 3px;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
    white-space: nowrap;
}
.file-icon {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 0.5em;
    width: 1em;
}
.file-label {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
}
.pointer{
    cursor: pointer;
}
.log{
    margin-bottom: 0!important;
    margin-top: 0!important;
}
.log > p{
    margin: 0!important;
    padding:0;
}
.today{
    border-left: 5px solid;
}
.avatar-wrapper-small .avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
table.table td{
    vertical-align: middle;
}
.quill-editor{
    height: 400px;
}