<template>
    <tr>
        <td style="width: 50px;"><b>{{article.id}}</b></td>
        <td >
            {{article.post_name}}
        </td>
        <td>{{ article.category ? article.category.name : '' }}</td>
        <td>{{article.updated_at}}</td>
        <td>{{article.views}}</td>
        <td class="pointer info" @click="comments">{{article.comments.length}}</td>
        <td>{{article.post_status}}</td>
        <td class="is-icon">
            <span  class="success pointer" @click="$emit('edit', article.id)">
                <i class="fa fa-pencil"></i>
            </span>
            <span  class="is-danger pointer" @click="$emit('remove', article.id)">
                <i class="fa fa-trash-o"></i>
            </span>
        </td>
    </tr>
</template>

<script>
    import Vue from 'vue'
    import Notification from 'vue-bulma-notification'

    const NotificationComponent = Vue.extend(Notification)

    const openNotification = (propsData = {
        title: '',
        message: '',
        type: '',
        direction: '',
        duration: 4500,
        container: '.notifications'
    }) => {
        return new NotificationComponent({
            el: document.createElement('div'),
            propsData
        })
    }

    export default{
        props: ['article'],
        components: {
             Notification
        },
        data () {
            return {

            }
        },
        computed: {

        },
        methods: {
            openNotificationWithType (type, data) {
                openNotification({
                    title: data.title,
                    message: data.message,
                    type: type
                })
            },
            comments(){
                this.$router.push('/articles/comments?id=' + this.article.id);
            }
        },
        watch: {

        }
    }
</script>