<template>
    <div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="control has-addons">
                        <input class="input" type="text" v-model="newcategory" placeholder="Поиск">
                        <a class="button is-info" @click="add" >Добавить</a>
                    </p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="pointer" @click="sort('id')">id</th>
                            <th class="pointer" @click="sort('name')">название</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <row v-for="category in categories"
                             :category="category"
                             @reload="load"
                             @remove="remove"
                        ></row>
                        </tbody>
                    </table>
                </article>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import Row from './category_row.vue'

    import Notification from 'vue-bulma-notification'
    const NotificationComponent = Vue.extend(Notification);

    const openNotification = (propsData = {
        title: '',
        message: '',
        type: '',
        direction: '',
        duration: 4500,
        container: '.notifications'
    }) => {
        return new NotificationComponent({
            el: document.createElement('div'),
            propsData
        })
    };

    export default{
        data(){
            return{
                categories: {},
                newcategory: '',
                sortType: 'asc'
            }
        },
        components:{
            Row
        },
        mounted(){
            this.load()
        },
        methods: {
            openNotificationWithType (type, data) {
                openNotification({
                    title: data.title,
                    message: data.message,
                    type: type
                })
            },
            load(){
                this.$http.get('/categories').then((response) => {
                    this.categories = response.body.data
                }, (response) => {
                    console.log(response)
                })
            },
            edit(id){

            },
            add(){
                this.$http.post('/category',{name: this.newcategory}).then((response) => {
                    if(response.body.success){
                        this.load()
                    }
                    else{
                        this.openNotificationWithType('danger', {title: 'Ошибка!', message: 'см консоль'})
                        console.log(response)
                    }
                }, (response) => {
                    console.log(response)
                })
            },
            remove(id){
                if(confirm('Удалить?')){
                    this.$http.delete('/category/'+id).then((response) => {
                        if(response.body.success){
                            this.openNotificationWithType('success', {title: 'Категория удалена', message: ''});
                            this.load()
                        }
                        else{
                            this.openNotificationWithType('danger', {title: 'Ошибка!', message: 'см консоль'})
                        }
                    }, (response) => {
                        this.openNotificationWithType('danger', {title: 'Ошибка!', message: 'см консоль'});
                        console.log(response)
                    })
                }
            },
            sort(item){
                let self = this

                this.categories.sort(function(a,b){
                    if(self.sortType === 'asc')
                        return b[item] < a[item];
                    else
                        return b[item] > a[item];
                });

                this.sortType = (this.sortType === 'asc') ? 'desc' : 'asc'
            }
        }
    }
</script>