<template>
    <tr>
        <td style="width: 50px;"><b>{{category.id}}</b></td>
        <td >
            <template v-if="edit">
                <p class="control has-addons">
                    <input class="input" type="text" v-model="name">
                    <a class="button is-success" @click="save" >Сохранить</a>
                </p>
            </template>
            <template v-else>
                {{category.name}}
            </template>
        </td>
        <td class="is-icon">
            <span  class="success pointer" @click="showedit">
                <i class="fa fa-pencil"></i>
            </span>
            <span  class="is-danger pointer" @click="$emit('remove', category.id)">
                <i class="fa fa-trash-o"></i>
            </span>
        </td>
    </tr>
</template>

<script>
    import Vue from 'vue'
    import Notification from 'vue-bulma-notification'

    const NotificationComponent = Vue.extend(Notification)

    const openNotification = (propsData = {
        title: '',
        message: '',
        type: '',
        direction: '',
        duration: 4500,
        container: '.notifications'
    }) => {
        return new NotificationComponent({
            el: document.createElement('div'),
            propsData
        })
    }

    export default{
        props: ['category'],
        components: {
             Notification
        },
        data () {
            return {
                edit: false,
                name: ''
            }
        },
        mounted(){
            this.name = this.category.name
        },
        methods: {
            openNotificationWithType (type, data) {
                openNotification({
                    title: data.title,
                    message: data.message,
                    type: type
                })
            },
            showedit(){
                this.edit = (!this.edit)
            },
            save(){
                this.$http.post('/category/' + this.category.id, {name: this.name}).then(
                    (response) => {
                        if(response.body.success){
                            this.openNotificationWithType('success', {title: 'категория изменена'})
                            this.$emit('reload')
                            this.edit = false
                        }
                        else{
                            this.openNotificationWithType('danger', {title: 'Ошибка!', message: 'см консоль'})
                            console.log(response)
                        }
                    },
                    (response) => {
                        this.openNotificationWithType('danger', {title: 'Ошибка!', message: 'см консоль'})
                        console.log(response)
                    }
                )
            }
        }
    }
</script>