<template>
    <tr>
        <td style="width: 50px;"><b>{{comment.id}}</b></td>
        <td style="width: 50px;"><b>{{comment.post_id}}</b></td>
        <td >
            {{comment.text}}
        </td>
        <td class="is-icon">
            <span  class="is-danger pointer" @click="$emit('remove', comment.id)">
                <i class="fa fa-trash-o"></i>
            </span>
        </td>
    </tr>
</template>

<script>
    import Vue from 'vue'
    import Notification from 'vue-bulma-notification'

    const NotificationComponent = Vue.extend(Notification)

    const openNotification = (propsData = {
        title: '',
        message: '',
        type: '',
        direction: '',
        duration: 4500,
        container: '.notifications'
    }) => {
        return new NotificationComponent({
            el: document.createElement('div'),
            propsData
        })
    }

    export default{
        props: ['comment'],
        components: {
             Notification
        },
        data () {
            return {

            }
        },
        methods: {
            openNotificationWithType (type, data) {
                openNotification({
                    title: data.title,
                    message: data.message,
                    type: type
                })
            }
        }
    }
</script>