<template>
    <div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="control has-addons">
                        <input class="input" type="text" v-model="search" placeholder="Поиск">
                        <a class="button is-info"  @click="find" >Поиск</a>
                    </p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="pointer" @click="sort('id')">id</th>
                            <th class="pointer" @click="sort('post_id')">post_id</th>
                            <th class="pointer" @click="sort('text')">текст</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <row v-for="comment in comments"
                             :comment="comment"
                             @remove="remove"
                        ></row>
                        </tbody>
                    </table>
                </article>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import Row from './comment_row.vue'

    import Notification from 'vue-bulma-notification'
    const NotificationComponent = Vue.extend(Notification);

    const openNotification = (propsData = {
        title: '',
        message: '',
        type: '',
        direction: '',
        duration: 4500,
        container: '.notifications'
    }) => {
        return new NotificationComponent({
            el: document.createElement('div'),
            propsData
        })
    };

    export default{
        data(){
            return{
                comments: {},
                sortType: 'asc',
                search: ''
            }
        },
        components:{
            Row
        },
        mounted(){
            this.load()
        },
        methods: {
            openNotificationWithType (type, data) {
                openNotification({
                    title: data.title,
                    message: data.message,
                    type: type
                })
            },
            load(){
                let path = (this.$route.query.id) ? '/comments?id='+this.$route.query.id : '/comments'
                this.$http.get(path).then((response) => {
                    this.comments = response.body.data
                }, (response) => {
                    console.log(response)
                })
            },
            remove(id){
                if(confirm('Удалить?')){
                    this.$http.delete('/comment/'+id).then((response) => {
                        if(response.body.success){
                            this.openNotificationWithType('success', {title: 'Комментарий удален', message: ''});
                            this.load()
                        }
                        else{
                            this.openNotificationWithType('danger', {title: 'Ошибка!', message: 'см консоль'})
                        }
                    }, (response) => {
                        this.openNotificationWithType('danger', {title: 'Ошибка!', message: 'см консоль'});
                        console.log(response)
                    })
                }
            },
            sort(item){
                let self = this

                this.comments.sort(function(a,b){
                    if(self.sortType === 'asc')
                        return b[item] < a[item];
                    else
                        return b[item] > a[item];
                });

                this.sortType = (this.sortType === 'asc') ? 'desc' : 'asc'
            },
            find(){
                this.$http.get('/comments/search?q='+this.search).then((response) => {
                    if(response.body.success){
                        this.comments = response.body.comments
                    }
                    else{
                        this.openNotificationWithType('danger', {title: 'Ошибка!', message: 'см консоль'})
                    }
                }, (response) => {
                    this.openNotificationWithType('danger', {title: 'Ошибка!', message: 'см консоль'})
                    console.log(response)
                })
            }
        }
    }
</script>