<template>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile is-child box">
                <p class="control">
                    <input v-model="title" class="input" type="text" placeholder="Название">
                </p>
                <p class="control">
                    <textarea v-model="description" class="textarea" placeholder="Анонс"></textarea>
                </p>
                <quill-editor v-model="content"
                              :options="editorOption"
                >
                </quill-editor>
                <hr>
                <label class="label">Категория</label>
                <p class="control">
                    <span class="select">
                        <select v-model="category">
                          <option v-for="category in categories" :value="category.id">{{category.name}}</option>
                        </select>
                    </span>
                </p>
                <p class="control">
                    <label class="checkbox">
                        <input type="checkbox" v-model="comment_status">
                        разрешить комментирование
                    </label>
                </p>

                <hr>
                SEO
                <p class="control">
                    <input v-model="seotitle" class="input" type="text" placeholder="Title">
                </p>
                <p class="control">
                    <textarea v-model="seodescription" class="textarea" placeholder="description"></textarea>
                </p>
                <p class="control">
                    <textarea v-model="keywords" class="textarea" placeholder="keywords"></textarea>
                </p>
                <p class="control">
                    <button @click="save" class="button is-success">Сохранить</button>
                    <button class="button is-warning">Назад</button>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import VueQuillEditor, {Quill} from 'vue-quill-editor'
    import {ImageDrop} from 'quill-image-drop-module'
    import ImageResize from 'quill-image-resize-module'
    import {container, ImageExtend, QuillWatch} from 'quill-image-extend-module'
    import Notification from 'vue-bulma-notification'

    Quill.register('modules/imageDrop', ImageDrop)
    Quill.register('modules/imageResize', ImageResize)
    Quill.register('modules/ImageExtend', ImageExtend)

    const NotificationComponent = Vue.extend(Notification);

    const openNotification = (propsData = {
        title: '',
        message: '',
        type: '',
        direction: '',
        duration: 4500,
        container: '.notifications'
    }) => {
        return new NotificationComponent({
            el: document.createElement('div'),
            propsData
        })
    };

    export default{
        data(){
            return {
                id: 0,
                meta_id: 0,
                title: '',
                description: '',
                content: 'text..',
                editorOption: {
                    theme: 'snow',
                    modules: {
                        toolbar: {
                            container: container,
                            handlers: {
                                'image': function () {
                                    QuillWatch.emit(this.quill.id)
                                }
                            }
                        },
                        history: {
                            delay: 1000,
                            maxStack: 50,
                            userOnly: false
                        },
                        imageDrop: true,
                        imageResize: {
                            displayStyles: {
                                backgroundColor: 'black',
                                border: 'none',
                                color: 'white'
                            },
                            modules: ['Resize', 'DisplaySize', 'Toolbar']
                        },
                        ImageExtend: {
                            loading: true,
                            name: 'img',
                            action: '/admin/upload',
                            response: (res) => {
                                return res.data
                            }
                        }
                    }
                },
                categories: [],
                category: 0,
                comment_status: 0,
                seotitle: '',
                seodescription: '',
                keywords: '',
                status: 'open'
            }
        },
        methods: {
            openNotificationWithType (type, data) {
                openNotification({
                    title: data.title,
                    message: data.message,
                    type: type
                })
            },
            load(id){
                this.$http.get('/article/'+id).then((response) => {
                 if(response.body.success){
                     this.id = response.body.data.id
                     this.title = response.body.data.post_name
                     this.content = response.body.data.post_content
                     this.category = response.body.data.category_id
                     this.description = response.body.data.post_anonse
                     this.comment_status = response.body.data.comment_status
                     this.meta_id = response.body.meta.id
                     this.seotitle = response.body.meta.title
                     this.seodescription = response.body.meta.description
                     this.keywords = response.body.meta.keywords
                 }
                }, (response) => {
                    console.log(response)
                })
            },
            save(){
                if(this.content === ''){
                    this.openNotificationWithType('danger', {title: 'Введите текст'})
                    return false;
                }
                if(this.title === ''){
                    this.openNotificationWithType('danger', {title: 'Введите название'})
                    return false;
                }

                let comment_status = this.comment_status ? 1 : 0;

                this.$http.post('/article/' + this.id,{
                    'text': this.content,
                    'title': this.title,
                    'category': this.category,
                    'post_anonse': this.description,
                    'post_status': this.status,
                    'comment_status': comment_status,
                    'meta_id': this.meta_id,
                    'seotitle': this.seotitle,
                    'description': this.seodescription,
                    'keywords': this.keywords,
                }).then((response) => {
                    if(response.body.success){
                        this.openNotificationWithType('success', {title: 'Сохранено'})
                    }
                    else{
                        this.openNotificationWithType('danger', {title: 'Ошибка'})
                        console.log(response)
                    }
                }, (response) => {
                    console.log(response)
                })
            }
        },

        mounted() {
            this.load(this.$route.params.id)

            this.$http.get('/categories').then((response) => {
                this.categories = response.body.data
            }, (response) => {
                console.log(response)
            })
        }
    }
</script>