<template>
    <div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="control has-addons">
                        <input class="input" type="text" v-model="search" placeholder="Поиск">
                        <a class="button is-info" @click="find" >Найти</a>
                    </p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="pointer" @click="sort('id')">id</th>
                            <th class="pointer" @click="sort('post_name')">заголовок</th>
                            <th class="pointer" @click="sort('category.name')">рубрика</th>
                            <th class="pointer" @click="sort('updated_at')">дата</th>
                            <th class="pointer" @click="sort('views')">просмотры</th>
                            <th class="pointer" @click="sort('comments')">комментарии</th>
                            <th class="pointer" @click="sort('post_status')">активен</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <row v-for="article in articles"
                             :article="article"
                             @edit="edit"
                             @remove="remove"
                        ></row>
                        </tbody>
                    </table>
                </article>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import Row from './article_row.vue'

    import Notification from 'vue-bulma-notification'
    const NotificationComponent = Vue.extend(Notification);

    const openNotification = (propsData = {
        title: '',
        message: '',
        type: '',
        direction: '',
        duration: 4500,
        container: '.notifications'
    }) => {
        return new NotificationComponent({
            el: document.createElement('div'),
            propsData
        })
    };

    export default{
        data(){
            return{
                articles: {},
                search: '',
                sortType: 'asc'
            }
        },
        components:{
            Row
        },
        mounted(){
            this.load()
        },
        methods: {
            openNotificationWithType (type, data) {
                openNotification({
                    title: data.title,
                    message: data.message,
                    type: type
                })
            },
            load(){
                this.$http.get('/articles').then((response) => {
                    this.articles = response.body.articles
                }, (response) => {
                    console.log(response)
                })
            },
            edit(id){
             //   this.$router.push('/article/' + id);
                this.$router.push({ name: 'Статья', params: { id: id}})
            },
            remove(id){
                if(confirm('Удалить?')){
                    this.$http.delete('/article/'+id).then((response) => {
                        if(response.body.success){
                            this.openNotificationWithType('success', {title: 'Статья удалена', message: ''});
                            this.load()
                        }
                        else{
                            this.openNotificationWithType('danger', {title: 'Ошибка!', message: 'см консоль'})
                        }
                    }, (response) => {
                        this.openNotificationWithType('danger', {title: 'Ошибка!', message: 'см консоль'});
                        console.log(response)
                    })
                }
            },
            find(){
                this.$http.get('/article/search?q='+this.search).then((response) => {
                    if(response.body.success){
                        this.articles = response.body.articles
                    }
                    else{
                        this.openNotificationWithType('danger', {title: 'Ошибка!', message: 'см консоль'})
                    }
                }, (response) => {
                    this.openNotificationWithType('danger', {title: 'Ошибка!', message: 'см консоль'});
                    console.log(response)
                })
            },
            sort(item){
                let self = this

                this.articles.sort(function(a,b){
                    if(self.sortType === 'asc')
                        return b[item] < a[item];
                    else
                        return b[item] > a[item];
                });

                this.sortType = (this.sortType === 'asc') ? 'desc' : 'asc'
            }
        }
    }
</script>