<template>
    <div>

    </div>
</template>

<script>
    export default{
        data(){
            return{
                user: {}
            }
        },
        mounted(){
            this.load(this.$route.params.id)
        },
        methods:{
            load(id){
                this.$http.get('/user/'+id).then((response) => {
                    this.user = response.body
                }, (response) => {
                    console.log(response)
                })
            }
        }
    }
</script>