<template>
    <div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="control has-addons">
                        <input class="input" type="text" v-model="search" placeholder="Поиск">
                        <a class="button is-info" @click="find" >Найти</a>
                    </p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th></th>
                            <th>login</th>
                            <th>email</th>
                            <th>активен до</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <row v-for="user in users"
                                 :user="user"
                                 @edit="edit"
                                 @remove="remove"
                            ></row>
                        </tbody>
                    </table>
                </article>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import Row from './user_row.vue'

    import Notification from 'vue-bulma-notification'
    const NotificationComponent = Vue.extend(Notification)

    const openNotification = (propsData = {
        title: '',
        message: '',
        type: '',
        direction: '',
        duration: 4500,
        container: '.notifications'
    }) => {
        return new NotificationComponent({
            el: document.createElement('div'),
            propsData
        })
    }

    export default{
        data(){
            return{
                users: {},
                search: ''
            }
        },
        components:{
            Row
        },
        mounted(){
            this.load()
        },
        methods: {
            openNotificationWithType (type, data) {
                openNotification({
                    title: data.title,
                    message: data.message,
                    type: type
                })
            },
            load(){
                this.$http.get('/users').then((response) => {
                    this.users = response.body.users
                }, (response) => {
                    console.log(response)
                })
            },
            edit(id){
                this.$router.push('/user/' + id);
            },
            remove(id){
                if(confirm('Удалить?')){
                    this.$http.delete('/user/'+id).then((response) => {
                       if(response.body.success){
                           this.openNotificationWithType('success', {title: 'Пользователь удален', message: ''})
                           this.load()
                       }
                       else{
                           this.openNotificationWithType('danger', {title: 'Ошибка!', message: 'см консоль'})
                       }
                    }, (response) => {
                        this.openNotificationWithType('danger', {title: 'Ошибка!', message: 'см консоль'})
                        console.log(response)
                    })
                }
            },
            find(){
                this.$http.get('/user/search?q='+this.search).then((response) => {
                    if(response.body.success){
                      this.users = response.body.users
                    }
                    else{
                        this.openNotificationWithType('danger', {title: 'Ошибка!', message: 'см консоль'})
                    }
                }, (response) => {
                    this.openNotificationWithType('danger', {title: 'Ошибка!', message: 'см консоль'})
                    console.log(response)
                })
            }
        }
    }
</script>