<template>
    <tr>
        <td style="width: 50px;"><b>{{user.id}}</b></td>
        <td style="width: 50px;">
            <div class="avatar-wrapper-small" >
                <div class="avatar" :style = "{background: avatar}"></div>
            </div>
        </td>
        <td>{{user.login}}</td>
        <td>{{user.email}}</td>
        <td>
            <datepicker  :inputClass="{ test: true }" v-model="activeto"></datepicker>
        </td>
        <td class="is-icon">
            <span  class="success" @click="$emit('edit', user.id)">
                <i class="fa fa-pencil"></i>
            </span>
            <span class="is-danger" @click="$emit('remove', user.id)">
                <i class="fa fa-trash-o is-danger"></i>
            </span>
        </td>
    </tr>
</template>

<script>
    import Vue from 'vue'
    import Datepicker from 'vue-bulma-datepicker'
    import Notification from 'vue-bulma-notification'

    const NotificationComponent = Vue.extend(Notification)

    const openNotification = (propsData = {
        title: '',
        message: '',
        type: '',
        direction: '',
        duration: 4500,
        container: '.notifications'
    }) => {
        return new NotificationComponent({
            el: document.createElement('div'),
            propsData
        })
    }

    export default{
        props: ['user'],
        components: {
            Datepicker,  Notification
        },
        data () {
            return {
                activeto: this.user.active_to.substr(0, this.user.active_to.length - 9)
            }
        },
        computed: {
            avatar(){
                return 'url(' + this.user.avatar + ')  no-repeat scroll 0% 0% / cover'
            }
        },
        methods: {
            openNotificationWithType (type, data) {
                openNotification({
                    title: data.title,
                    message: data.message,
                    type: type
                })
            }
        },
        watch: {
            activeto: function (val) {
                if(val !== this.user.active_to){
                    this.$http.post('/admin/users/active', {id: this.user.id, data: val}).then((response) => {
                        if(response.body.success){
                            this.openNotificationWithType('success', {title: 'Обновлено', message: ''})
                        }else{
                            this.openNotificationWithType('danger', {title: 'Ошибка!', message: 'см консоль'})
                            console.log(response.body)
                        }
                    }, (response) => {
                        console.log(response)
                    })
                }
            },
        }
    }
</script>